/*Ajax loading*/
div.ajax_loading {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 99999999999999;
  background: rgba(0, 0, 0, 0.6);
}

div.ajax_loading.container {
  position: absolute;
}

div.ajax_loading > i {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 80px;
  margin-left: -40px;
  margin-top: -40px;
  color: #fff;
}
/*END Ajax loading*/

/* Alerts */
.alert > button.btn-close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
/* End Alerts */

/* Legends */
legend {
  background-color: #101010;
  border-radius: 3px;
  color: #fff;
  float: left;
  font-size: 17px;
  font-style: normal;
  line-height: 45px;
  margin-bottom: 0;
  margin-top: 5px;
  position: relative;
  text-indent: 13px;
  text-shadow: 2px 2px 1px #000;
  width: 100%;
}

legend > a {
  color: #f9541e;
}

legend > a:hover {
  color: #d74b1d;
}
/* End Legends */

div.card-body .fas,
div.card-body .fab,
div.card-body .fa-brands {
  margin-right: 11px;
}

div.card-body div.note-editor i,
div.card-body button .fas,
div.card-body button .fab {
  margin: 0px;
}

div.well i.fa-minus-circle:hover {
  cursor: pointer;
}

div.tab-pane > div.form-group:first-child {
  padding-top: 0px !important;
}

/* Buttons */
div.card-body .button,
div.card-body .button-oc {
  background-color: #55acee;
  border-radius: 5px;
  box-shadow: 0 5px 0 0 #3c93d5;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  margin-bottom: 10px;
  padding: 9px 19px;
  position: relative;
  text-decoration: none;
}

div.card-body .button.danger {
  background-color: #dc3545;
  box-shadow: 0 5px 0 0 #aa2d39;
}

div.card-body .button.danger:hover {
  background-color: #cc3240;
}

div.card-body .button.disabled,
div.card-body .button-oc.disabled {
  background-color: #a5a5a5 !important;
  box-shadow: 0 5px 0 0 #5b5b5b;
}

div.card-body .button:active,
div.card-body .button-oc:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  background: #49a6ed;
}

div.card-body .button:hover,
div.card-body .button-oc:hover{
  background: #49a6ed;
  cursor: pointer;
}

div.card-body .button.disabled:hover,
div.card-body .button-oc.disabled:hover {
  cursor:not-allowed;
}
/* End Buttons */

div.form-group-columns label {
  text-align: left !important;
  padding-top: 0px !important;
  padding-bottom: 3px;
}

div.form-group-columns {
  /* min-height: 68px !important; */
  border-bottom: 1px solid #eee;
  padding: 15px 25px;
  min-height: 88px;
}

.only_input {
  margin-bottom: 5px !important;
}

div.bootstrap-select {
  /*max-width: 300px !important;*/
}

a.hide_column {
  position: relative;
  margin-left: 5px;
}

a.hide_column:hover {
  cursor: pointer;
}

a.hide_column i {
  margin: 0 !important;
}

td.hide_column > * {
  display: none !important;
}

table tbody tr td div span.multilanguage_flag + input {
  margin-bottom: 0px !important;
}

/* Draggable order table */
body.dragging,
body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ol.example li.placeholder {
  position: relative;
  /** More li styles **/
}

ol.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

td.draggable_element {
  text-align: center;
}

td.draggable_element i.fa-reorder {
  font-size: 20px;
  margin: 0px;
}

td.draggable_element i.fa-reorder:hover {
  cursor: all-scroll;
}
/* END Draggable order table */

/* Compatibility with backend templates */
body#body.not-homepage ul.dropdown-menu.inner {
  display: block;
}
/* END Compatibility with backend templates */

span.help_bottom {
  font-style: italic;
  position: relative;
  float: left;
  width: 100%;
  clear: both;
  display: block;
  margin-top: 5px;
  color: #959595;
}

div.toogle_seconday_field {
  background: #ededed;
  display: none;
}

div.row.mb-3.toogle_seconday_field {
  margin-bottom: 0 !important;
  padding-bottom: 15px;
}

.table thead td span[data-toggle="tooltip"]:after,
label.control-label span:after {
    font-family: FontAwesome;
    color: #1E91CF;
    content: "\f059";
    margin-left: 4px;
}

div.type_table_inputs {
  overflow-x: scroll;
  min-height: 500px;
}

div.type_table_inputs div.dropdown-menu.open {
  top: 35px;
}

div.form-group.no_border_bottom,
div.form-group-columns.no_border_bottom {
  border-bottom: none !important;
}
