div.select_languages ul li img,
div.select_languages button.dropdown-toggle span img{
    position: relative;
    float: left;
    width: 22px;
    margin-right: 10px;
    margin-top: 2px;
    border: 1px solid #eee;
}